@use "@styles/variables" as *;

.delete {
    padding-block: 0.25rem;
    padding-inline: 0.5rem;
    transition: $t-fast ease;
    background-color: $error;
    border: 3px solid color-mix(in srgb, $error 75%, black);
    border-radius: 0.33rem;
    color: black;
    
    &:hover {
      cursor: pointer;
      background-color: $errorHover;
      border: 3px solid color-mix(in srgb, $errorHover 75%, black);
      scale: 1.10;
      transform: rotate(-2deg);
    }
}