@use "@styles/variables" as *;    

.heroLogoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heroLogo {
    width: 35%;
    height: auto;
}
.heroTitle {
    color: white;
    margin-bottom: 2rem;
}
