@use "@styles/variables" as *;

/**
 * Quizz
 */



/**
 * Questions
 */
.questionHeader {
    display: flex;
    flex: 1;
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    & * {
        text-align: center;
        break-after: always;
    }
}
.questionAnswers {
    display: grid;
    flex: 1;
    margin: 1rem;
    width: 65%;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    & * {
        text-align: center;
    }
}

.questionTitle {
    font-size: $fs-bigger;
    font-weight: bold;
}
.questionDesc {
    font-size: $fs-big;
}



/**
 * Answers
 */
.answerBase {
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

    border-radius: 0.5rem;
    background-color: rgba(var(--color), 1);
    border: 5px solid color-mix(in srgb, rgb(var(--color)) 70%, black);

    opacity: 1;
    transition: $t-faster ease;
    &:hover {
        cursor: pointer;
        transform: scale(1.03);
    }
    &:active {
        transform: scale(1.00);
    }

    &, & > * {
        font-size: $fs-small !important;
        font-weight: bold;
        color: color-mix(in srgb, rgb(var(--color)) 35%, black);
    }
}
.answerBase {
    .delete { 
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        opacity: 0;
    }
    &:hover .delete { opacity: 1; }
}


/**
 * Editable texts
 */
.editorInput {
    --myColor: var(--color, #{(0, 0, 0)});
    background: transparent;
    border: 3px solid transparent;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0.25rem;

    width: 100%;
    overflow: visible;

    &:hover, &:active, &:focus {
        border: 3px solid color-mix(in srgb, rgb(var(--myColor)) 80%, black);
    }
}

input.questionTitle, input.questionDesc, input.answerLabel {
    @extend .editorInput;
}
