@use "@styles/variables" as *;

/**
 * Quizz
 */



/**
 * Questions
 */
.questionHeader {
    display: flex;
    flex: 1;
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    & * {
        text-align: center;
        break-after: always;
    }
}
.questionAnswers {
    display: grid;
    flex: 1;
    margin: 1rem;
    width: 65%;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    & * {
        text-align: center;
    }
}

.questionTitle {
    font-size: $fs-bigger;
    font-weight: bold;
}
.questionDesc {
    font-size: $fs-big;
}



/**
 * Answers
 */
.answerShape {
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    
    opacity: 1;
    transition: $t-fast ease;
    &:hover {
        cursor: pointer;
        transform: scale(1.03);
    }
    &:active {
        transform: scale(1.00);
    }
}

.answerAdd {
    @extend .answerShape;

    background-color: rgba($accent, 0.25);
    border: 5px dashed $accentDarker;
    border-radius: 2rem;
    font-weight: bold;
    gap: 1rem;

    &:hover {
        background-color: rgba($accent, 1);
    }
}

.answerBase {
    @extend .answerShape;

    background-color: rgba(var(--color), 1);
    border: 5px solid color-mix(in srgb, rgb(var(--color)) 70%, black);

    &, & > * {
        font-size: $fs-small;
        font-weight: bold;
        color: color-mix(in srgb, rgb(var(--color)) 35%, black);
    }
    
    .delete { 
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        opacity: 0;
    }
    &:hover .delete { opacity: 1; }
    .answerIcon {
        position: absolute;
        top: 10px;
        left: 10px;
    }
}

.answerTag {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 5px;
    font-size: $fs-smaller;
    border-radius: 50%;
    transition: $t-fast ease;
    pointer-events: all;
    color: $darker;
    width: 20px;
    height: 20px;
    border: 4px solid rgba(black, 0.60);
    background-color: rgba(black, 0.25);

    &:hover {
        border-radius: 10px;
        background-color: transparent;
    }
}
.correctAnswerTag {
    @extend .answerTag;
}
.incorrectAnswerTag {
    @extend .answerTag;
}


/**
 * Editable texts
 */
.editorInput {
    --myColor: var(--color, #{(0, 0, 0)});
    background: transparent;
    border: 3px solid transparent;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0.25rem;

    width: 100%;
    overflow: visible;

    &:hover, &:active, &:focus {
        border: 3px solid color-mix(in srgb, rgb(var(--myColor)) 80%, black);
    }
}

input.questionTitle, input.questionDesc, input.answerLabel {
    @extend .editorInput;
}

/**
 * Extras
 */
.huePicker {
    position: absolute;
    background-color: $dark;
    padding: 1rem;
    border-radius: 1rem;
    width: 250px;
    height: 10vh;
    z-index: 2;
}
