@use "@styles/variables" as *;

.navContainer {
    /* Items placement */
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* Spacing */
    right: 1rem;
    top: 1rem;
    padding-inline: 1rem;
    padding-block: 0.25rem;
    gap: 2rem;

    .link {
        /* Placement */
        display: flex;
        align-items: center;
        gap: 4px;

        /* Box appearance */
        padding-inline: 10px;
        padding-block: 8px;
        height: 2rem;
        border-radius: 1rem;
        border: none;
        background: $lighter;
        box-shadow: 0px 0px 4px $accentDarker;

        /* Text Appearance */
        text-decoration: none;
        color: $darker;
        font-family: $text;
        transition: $t-fast ease;

        &:hover {
            cursor: pointer;
            box-shadow: 0px 0px 15px $accentDarker;
            &:nth-child(even) {
                transform: rotate(2deg) scale(1.05);
            }
            &:nth-child(odd) {
                transform: rotate(-2deg) scale(1.05);
            }
        }
    }
}
