@use "@styles/variables" as *;

.contextMenu {
    position: absolute;
    background: #fff;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    z-index: 1000;
}