@use "@styles/variables" as *;

.heroContent {
    flex-direction: column !important;
    gap: 2rem !important;

    .codeInput {
        display: flex;
        padding: 15px;
        gap: 0.5rem;
        align-items: center;
        background-color: $lighter;
        flex-direction: column;
        border-radius: 0.5rem;

        .title {
            font-size: $fs-big;
            color: $darker;
            font-weight: bold;
            font-family: $title;
            padding: 10px;
        }
    
        .enterCode {
            display: flex;
            padding: 0.75rem;
            font-size: $fs-medium;
            font-weight: bold;
            text-align: center;
            border-radius: 0.25rem;
            color: $darker;
            border: 2px solid rgb(206, 206, 206);
            transition: box-shadow 0.3s ease-in;

            &:focus {
                border: 10px;        
                box-shadow: inset 0 0 0 2px white, inset 0 0 0 3.5px black;
                box-sizing: border-box;
            }
        }        
        
        .startButton {
            width: 100%;
            background-color: $dark;
            color: $lighter;
            text-align: center;
            margin-top: 10px;
            padding: 0.75rem;
            font-size: $fs-medium;
            
            border: none;
            border-radius: 0.25rem;
            box-shadow: 0px 4px 0px $darker;
            transition: $t-fast;
        
            &:hover {
                cursor: pointer;
                top: -4px;
                box-shadow: 0px 2px 0px $darker;
            }
        }
    }
}


.errorMessage {
    color: $error;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    font-size: $fs-smaller;
}
