@use "@styles/variables" as *;
@use 'sass:color';

.heroPage {
  position: relative !important;
  height: 100vh;
  z-index: 0;
  flex-direction: column !important;
  justify-content: space-evenly !important;
}

.lobbyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .playersContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .playerTitle {
      font-size: $fs-huge;
      font-family: $title;
      font-weight: bold;
    }

    .playersList {
      margin-top: 1rem;
      display: flex;
    }
  }
  

  /* Responsivité pour les petits écrans */
  @media (max-width: 768px) {
    .emoteContainer {
      max-height: 120px;
      /* Moins d'espace sur les petits écrans */
    }

    .emoteButton {
      font-size: 1rem;
      /* Réduire la taille des boutons sur les petits écrans */
    }
  }

  @keyframes moveShadow {
    0% {
      box-shadow: 8px 8px 0px rgba(0, 0, 0, 1);
    }

    50% {
      box-shadow: -8px 8px 0px rgba(0, 0, 0, 0.7);
    }

    100% {
      box-shadow: 8px 8px 0px rgba(0, 0, 0, 1);
    }
  }

  @keyframes moveContainer {
    0% {
      transform: skew(-10deg);
    }

    50% {
      transform: skew(-10deg) translateX(8px);
    }

    100% {
      transform: skew(-10deg);
    }
  }

  .pinContainer {
    position: absolute;
    top: 2rem;
    background: $lighter;
    padding: 1.5rem 3rem;
    display: inline-block;
    border: 8px solid $accent;
    border-radius: 0.5rem;
    margin: 2rem auto;
    text-align: center;
    animation: moveShadow 5s ease-in-out infinite, moveContainer 5s ease-in-out infinite;
  }

  .gamePin {
    transform: skew(10deg);
    font-size: 3rem;
    font-weight: 900;
    color: $darker;
    letter-spacing: 0.15rem;
    margin: 0;
  }
}

.actionButton {
  position: absolute;
  bottom: 1rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  font-size: $fs-medium;
  background-color: rgba($lighter, 0.75);
  border: 3px solid $accent;
  border-radius: 1rem;
  cursor: pointer;
  transition: all $t-medium ease-in-out;

  font-family: $text;
  font-weight: bold;
  color: $accentDarker;

  svg {
    margin-right: 0.8rem;
    color: $accentDarker;
    stroke-width: 6px;
    width: 24px;
    height: 24px;
    transition: all $t-medium ease-in-out;
  }

  &:hover {
    background-color: $lighter;
    color: $primaryDarker;
    border-color: $primaryDarker;
    svg {
      color: $primaryDarker;
      margin-right: 1rem;
    }
  }

  &:focus {
    outline: none; /* Remove outline on focus */
    border-color: $primary; /* Keep the green border when focused */
  }

  &:active {
    background-color: color.adjust($lighter, $lightness: -10%); /* Darker background when active */
  }
}

.playerCard {
  display: flex;
  align-items: center;
  padding-inline: 1rem;
  padding-block: 0.2rem;
  font-size: $fs-medium;
  background-color: rgba($lighter, 0.75);
  border: 2px solid $accent;
  border-radius: 1rem;
  transition: all $t-medium ease-in-out;

  font-family: $text;
  font-weight: bold;
  color: $accentDarker;
  margin-right: 1rem;
}

.selfPlayerCard {
  @extend .playerCard;

  color: $primaryDarker;
  border: 2px solid $primaryDarker;
}


.chatWrapper {
  position: absolute;
  left: 2rem;
  bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%; /* Full width by default */
  width: 100%; /* Allow it to stretch fully on small screens */
  max-width: 300px; /* Max width for larger screens */
  margin: 0 auto;

  .chatContainer {
    max-height: 400px;
    overflow-y: auto;
    padding: 1rem;
    background-color: $lighter;
    border-radius: 1.5rem 1.5rem 0 0;
    font-size: 1rem;
    width: 100%;
  
    p {
      margin: 0.5rem 0;
      color: $darker;
      line-height: 1.5;
    }
  
    strong {
      color: $primaryDarker;
    }
  }

  .messageForm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: $lighter;
    border-radius: 0 0 1.5rem 1.5rem;
    transition: all 0.3s ease-in-out;
    width: 100%;
  }

  .inputMessage {
    width: 80%;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    border: 1px solid $darker;
    border-radius: 1rem;
    outline: none;
    transition: border-color 0.3s ease-in-out;
    background-color: $lighter;
    color: $darker;

    &::placeholder {
      color: $darker;
    }

    &:focus {
      border-color: $primary;
    }
  }

  .sendMessage {
    padding: 0.8rem 1.2rem;
    margin-left: 1rem;
    font-size: 1rem;
    color: $lighter;
    background-color: $accent;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: $accentDarker;
    }

    &:active {
      background-color: color.adjust($accent, $lightness: -20%);
    }

    &:focus {
      outline: none;
    }
  }

  .chatContainer p {
    word-wrap: break-word;
    white-space: normal;
  }

  @media (max-width: 480px) {
    display: none;
    max-width: 100%; /* Allow full width */
    left: 1rem;
    bottom: 1rem;
    padding: 0.8rem;

    .chatContainer {
      max-height: 250px;
      font-size: 0.85rem;
    }

    .messageForm {
      padding: 0.6rem;
    }

    .inputMessage {
      width: 60%; /* Further reduce input width for mobile */
      font-size: 0.85rem;
    }

    .sendMessage {
      padding: 0.7rem 1rem;
      font-size: 0.85rem;
    }
  }
}


.emoteButtons {
  display: flex;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  width: 60px;
  min-height: 60px;
  max-height: 60px;
  border-radius: 50%;
  border: 2px solid $accent;
  background-color: rgba($lighter, 0.75);
  box-shadow: 0 4px 12px rgba($darker, 0.15);
  cursor: pointer;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  z-index: 1000;

  span {
    font-size: 24px;
    flex: 1;
    text-align: center;
    transition: 0.3s ease;
  }

  .emoteButtonList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-height: 0;
    max-width: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s ease;
  }

  &.expanded {
    border-radius: 1rem;
    padding: 1rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-height: 100vh;
    max-width: 100%;

    span {
      opacity: 0;
    }

    .emoteButtonList {
      max-height: 500px;
      max-width: 300px;
      opacity: 1;
    }
  }

  .emoteButtonList .emoteButton {
    background-color: transparent;
    border: none;
    padding: 0.5rem 0.75rem;
    font-size: 1.3rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background 0.2s ease;

    &:hover {
      background: #e6e6e6;
    }
  }
}

.answerStatus {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: rgba($lighter, 0.75);
  color: $darker;
  font-size: 2rem;
  font-weight: bold;
  border: 2px solid $accent;
  border-radius: 1.5rem;
  box-shadow: 2px 2px 4px rgba($darker, 0.15);
  transition: transform 0.2s ease;

  &.updated {
    animation: pop 0.3s ease;
  }
}

@keyframes pop {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1);
  }
}

// Correct answer display
.correctAnswerDisplay {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  border: 3px solid transparent;
  background-color: rgba($darker, 0.25);

  h1 {
    margin: 0;
    font-size: 2rem;
    color: white;
  }

  p {
    font-size: 1.2rem;
    margin: 10px 0;
  }

  &.correct {
    border-color: $success;
  }

  &.incorrect {
    border-color: $error;

    .incorrectAnswer {
      text-decoration: line-through;
      color: $error; /* Red color for the incorrect answer */
    }

    .correctAnswer {
      color: $success; /* Green color for the correct answer */
    }
  }
}

// Leaderboard display
.leaderboardDisplay {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  
  border-radius: 1rem;
  border: 3px solid $accent;
  background-color: rgba($darker, 0.25);
  font-weight: bolder;

  div {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: $fs-medium;
    font-family: $text;
  }

  .gold { color: gold; }

  .silver { color: silver; }

  .bronze { color: #cd7f32; }

  .regular { color: black; }

  .points {
    font-weight: normal;
    font-size: $fs-medium;
  }
}

