/* Shades */
$darker: #101010;
$dark: #202020;
$light: #bdbdbd;
$lighter: #efefef;


/* Theme */
$primary: #7deb4d;
$primaryDarker: #3e7527;
$accent: #a78bfa;
$accentDarker: #604f94;

/* Message Types */
$error: rgb(235, 75, 75);
$warning: rgb(235, 211, 75);
$success: rgb(83, 235, 75);

/* Fonts */
// TODO : This definitely needs to be changed lol, just some tests
$text: "Arial";
$title: "Consolas";
$fs-huge: 28pt;
$fs-very-big: 24pt;
$fs-big: 20pt;
$fs-medium: 16pt;
$fs-small: 12pt;
$fs-very-small: 9pt;

/* Transition speeds */
$t-faster: 0.05s;
$t-fast: 0.1s;
$t-medium: 0.2s;
$t-slow: 0.35s;
$t-slower: 0.5s;
