/* Shades */
$black: rgb(0, 0, 0);
$darker: rgb(16, 16, 16);
$dark: rgb(32, 32, 32);
$dim: rgb(189, 189, 189);
$light: rgb(220, 220, 220);
$lighter: rgb(239, 239, 239);
$white: rgb(255, 255, 255);

/* Theme */
$primary: rgb(125, 235, 77);
$primaryIntermediate: rgb(113, 208, 72);
$primaryDarker: rgb(62, 117, 39);
$accent: rgb(167, 139, 250);
$accentIntermediate: rgb(146, 121, 221);
$accentDarker: rgb(96, 79, 148);

/* Message Types */
$error: rgb(235, 74, 74);
$errorHover: rgb(200, 64, 64);
$warning: rgb(235, 211, 75);
$warningHover: rgb(219, 196, 68);
$success: rgb(83, 235, 75);
$successHover: rgb(75, 213, 68);

/* Fonts */
$text: "CreatoDisplay";
$title: "Stanberry";
$fs-huge: 28pt;
$fs-bigger: 24pt;
$fs-big: 20pt;
$fs-biggest: 18pt;
$fs-medium: 16pt;
$fs-small: 12pt;
$fs-smaller: 10pt;
$fs-tiny: 8pt;

@font-face {
    font-family: "Stanberry";
    src: url("/fonts/Stanberry.ttf");
}
@font-face {
    font-family: "CreatoDisplay";
    src: url("/fonts/CreatoDisplay.otf");
}

/* Transition speeds */
$t-faster: 0.05s;
$t-fast: 0.1s;
$t-medium: 0.2s;
$t-slow: 0.35s;
$t-slower: 0.5s;
