/* Shades */
$darker: #101010;
$dark: #202020;
$light: #bdbdbd;
$lighter: #efefef;

/* Theme */
$primary: #7deb4d;
$primaryDarker: #3e7527;

/* Fonts */
// TODO : This definitely needs to be changed lol, just some tests
$text: "Arial";
$title: "Consolas";
