@use './variables' as *;

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: $title;
    font-size: $fs-huge;
    text-shadow: 1px 1px 2px $accent;
    text-align: center;
}
h2 {
    font-family: $title;
    font-size: $fs-bigger;
}
h3 {
    font-family: $title;
    font-size: $fs-medium;
}
p, p > span, a, a > span, ul > li, pre, input, label {
    font-family: $text;
    font-size: $fs-small;
}
 
a {
    text-decoration: none;
    font-weight: bold;

    &:hover {
      text-decoration: underline $accentDarker;
    }
  }
